:root {
  --main-bg-color: #f6f6f6;
  --header-bg-color: #ffffff;
  --header-text-color: #0173b6;
  --job-text-color: black;
  --job-text-hover-color: #ff782f;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background: var(--main-bg-color);
  overflow: hidden;
}

.header {
  background: var(--header-bg-color);
  height: 75px;
  color: var(--header-text-color);
  font-family: 'Ubuntu';
  font-size: 3em;
  display: flex;
  align-items: center;
  padding-left: 2%;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.content-name {
  font-size: 8vw;
  font-family: Roboto;
}

.content-name span {
  color: var(--job-text-hover-color);
}

.content-job {
  font-size: 4vw;
  font-family: 'Open Sans';
}

.content-job-link {
  text-decoration: none;
  color: var(--job-text-color);
}

.content-job-link:hover {
  color: var(--job-text-hover-color);
}

.content-social-icons {
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 35vw;
  justify-content: space-around;
}

.circle {
  font-size: 3vw;
  color: var(--job-text-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle:hover {
  color: var(--job-text-hover-color);
}
