body,
#root,
.App {
  height: 100vh;
}

header {
  font-size: 5rem;
}

.flip-countdown-title {
  font-family: 'Comic Neue', cursive;
}

.App {
  text-align: center;
  font-family: 'Comic Neue', cursive;
  color: white;
  background-image: url('unknown.png')
}

.body {
  padding-top: 10rem;
}

.ie {
  background-image: url('notepad.png');
  height: 135px;
  width: 281px;
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 0;
}