.form-container, .monologue {
  text-align:center;
}

.monologue {
  margin-top:2%;
  font-size:2em;
}

.sentence {
  font-family: Verdana;
}

.sentence.ng-enter {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 0;
}

.sentence.ng-enter-stagger {
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

.sentence.ng-enter.ng-enter-active {
  opacity: 1;
}