nav, #content, #img{
	display:inline-block;
	background-color:white;
	text-align:center;
	height:100%;
}

nav{
	width:25%;
	position:relative;
}

#content{
	position:absolute;
	background-color: #49afa5;
	overflow-y:auto;
	border:3px white solid;
	width:50%;
}

#img{
	width:25%;
	float:right;
	position:static;
}




html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

#about{
	border-bottom:3px solid white;
	height:33%;
	width:100%;
	background-color:#83d0c9;
}

#blog{
	border-bottom:3px solid white;
	height:33%;
	width:100%;
	background-color:#65c3ba;
}

#contact{
	background-color:#54b2a9;
	height:34%;
	width:100%;
}

#about, #blog, #contact{
	font-family:Roboto Slab;
	font-size:25px;
	color:white;
}

a{
	text-decoration: none;
}

li {
	list-style-type: none;
	font-family:arimo;
	color:white;
	padding:50px 0px 50px 0px;
	font-size:80px;
	text-align:left;
}

h2 {
	color:white;
	font-family:Roboto Slab;
	font-size:90px;
	padding:0px;
	margin:0px;
}
#work{
	color:white;
	border-bottom:dotted white 1px;
	font-family:Roboto Slab;
}


