nav, #content, #img{
	display:inline-block;
	background-color:white;
	text-align:center;
	height:100%;
}

nav{
	width:25%;
	position:relative;
}

#content{
	position:absolute;
	width:50%;
	background-color: #c4cde5;
	overflow:auto;
	border:1px white solid;
}

#img{
	width:25%;
	float:right;
	position:static;
}




html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

#about{
	border-bottom:1px solid white;
	height:33%;
	width:100%;
	background-color:#ace1f9;
}

#about p {
   
}  

#blog{
	border-bottom:1px solid white;
	height:33%;
	width:100%;
	background-color:#acf9c4;
}

#contact{
	background-color:#ace1f9;
	height:34%;
	width:100%;
}

a{
	text-decoration: none;
}

